# Mod 2 Code Challenge Review

You've come a long way with this material

Close out strong

![](viz/mortal_kombat.gif)

### Hypothesis tests

For each, write:

- A null hypothesis 
- An alternative hypothesis
- Specify an alpha level
- Specify what Type I error and Type II error would be (in English, without reference to the words `null`, `hypothesis`, or `alternative`

We have a scores from a given classroom and want to know how they compare to the rest of the district.  We have all of the district's information.

Null: There is no difference between scores in the given classroom and the scores of classrooms from all other districts
Alternative: The scores are differente

alpha: .05, with a two tailed test

type 1 = WE conclude there is a difference in scores when in fact there is not.
type 2 = We conclude there is no difference in scores when in fact there is

We have two samples of weights of fish from two adjacent lakes.  We want to know if Lake Winnetonka's fish are smaller than Lake Okachobee's.

Null: The weights of fish in Lake Winnetonka are greater than or equal to the weights in L O
Alternative

Type 1: Conclude the weights in Lake Winnetonka are smaller when in fact they are equal or greater
Type 2: Conclude the weights are greater than or equal when in fact they are smaller

We want to know if Guns 'n Roses rocks harder than Aerosmith, and are taking as a proxy "noise levels = how hard a band rocks".  We sample dB levels from 40 years of concerts.  Slash is looking over our shoulder the whole time.

### Calculation Examples

For each of the questions below:

- What is the null hypothesis?  What is the alternative?

- What level of alpha are we using?  


- What specific test are we using?
    - **why?**


- What is the critical statistic(s) at which we will designate evidence for rejecting the null?

- What is the test-statistic?

- What is the p-value?

- Should we accept or reject the null hypothesis?

- In English, what's the answer to the question?

### Z-test example

An SAT prep class of 25 students takes the SAT and gets the following scores:

'''434 694 457 534 720 400 484 478 610 641 
425 636 454 514 563 370 499 640 501 625 
519 471 598 509 531 511 675 450 485 507 
550 512 542 633 575 595 508 499 490 597 
522 504 550 430 400'''
We know the average for SAT scores as a whole is 500 with a standard deviation of 100

Did this SAT prep class result in a significantly greater mean of scores than average?
(use an alpha level of .05)

[z-table](https://www.z-table.com) to use for calculations if you wish

Null: The scores of students enrolled in the prep class are less than or equal to the greater population.
Alt: The scores of the students enrolled in the prep class are greater than the greater population

Alpha = .05

Z-test, one tailed

Z_stat =

In [21]:
from scipy import stats
stats.norm.ppf(.95)

1.6448536269514722

In [18]:
import numpy as np
scores = np.array("""434 694 457 534 720 400 484 478 610 641 425 636 454 514 563 370 499 640 501 625 519 471 598 509 531 511 675 450 485 507 550 512 542 633 575 595 508 499 490 597 522 504 550 430 400""".split(' '))
scores = scores.astype(int)

(scores.mean() - 500)/(100/np.sqrt(45))

2.00053548386981

### Example: T-test

#### T-test question 1

Samples of diastolic blood pressure were takin from a sample of 20 female doctors

128 127 118 115 144 142 133 140 132 131 111 132 149 122 139 119 136 129 126 128

The mean female population diastolic blood pressure is 120

Are female doctor diastolic blood pressures significantly higher than the female population's?

In [29]:
bp = np.array('128 127 118 115 144 142 133 140 132 131 111 132 149 122 139 119 136 129 126 128'.split(' ')).astype(int)

t = (bp.mean() - 120)/(bp.std(ddof=1)/np.sqrt(20))

4.512403659336718

In [31]:
stats.t.ppf(.95, df=19)

1.729132811521367

In [32]:
stats.ttest_1samp(bp, 120)

Ttest_1sampResult(statistic=4.512403659336718, pvalue=0.00023838063630967753)

#### T-test question 2

Tesla claims that they're miles-per-15min-of-charge average 31 

You are hired by an eccentric Silicon Valley entreprenuer to test his fleet of 8 Teslas and see if the claim holds up

You have a fair amount of driving around generating the data, and when you do you get these results:

30 28 32 26 33 25 28 30

Is Elon Musk a dirty liar?

29.0

In [54]:
# Null it is the same
# Alternative they are different

mpg = np.array('30 28 32 26 33 25 28 30'.split(' ')).astype(int)

t = (mpg.mean() - 31)/((mpg.std(ddof=1)/np.sqrt(8)))
print(t)

stats.t.ppf(.05, df=7)
stats.t.cdf(t, df=7)

-2.0367003088692623

0.04055343487369285

In [46]:
stats.ttest_1samp(mpg, 31)

Ttest_1sampResult(statistic=-2.0367003088692623, pvalue=0.0811068697473857)

#### T-test question 3

You are an archeologist.  Not Indiana Jones, the boring kind.  And at two sites you come across a series of shards from pots.

You know from your boring archeologist training that different thicknesses at the lip of the pots indicate different ceremonial functions.  

You want to test the two samples of shard thickness to see if the thickness is due to chance at the two sites.

Sample 1 has slightly thicker shards overall, so you want to test if the mean of sample 1 lip thickness is higher than the mean of sample 2 lip thickness.  

Assume that the two sample variances are equal.

Sample 1 data:
19.7475 19.8387 12.6873 17.6973 19.0878 30.5562 14.5291 14.7627 14.3439 12.5745 11.0734 19.4998 18.3869 10.7374 18.0030 18.1730 18.8374 17.9287 15.3563 18.6004 11.7280 12.2898 21.0552 21.4184 25.5953

Sample 2 data:
17.4715 20.0386 12.6012 20.4401 22.4969 9.8613 19.6289 9.7741 15.1119 17.4448 23.4827 24.9357 19.9265 7.9955 17.6675 13.6029 17.8812 16.4178 5.1385 7.0984 18.1181 20.2681 14.7372 22.5915 16.7546

In [82]:
s1 = '''19.7475 19.8387 12.6873 17.6973 19.0878 30.5562 14.5291 14.7627 14.3439 12.5745 11.0734 19.4998 18.3869 10.7374 18.0030 18.1730 18.8374 17.9287 15.3563 18.6004 11.7280 12.2898 21.0552 21.4184 25.5953'''.split(' ')
s1 = np.array(s1, float)

s2 = '''17.4715 20.0386 12.6012 20.4401 22.4969 9.8613 19.6289 9.7741 15.1119 17.4448 23.4827 24.9357 19.9265 7.9955 17.6675 13.6029 17.8812 16.4178 5.1385 7.0984 18.1181 20.2681 14.7372 22.5915 16.7546'''.split(' ')
s2 = np.array(s2, float)

num = (s1.mean() - s2.mean())
pooled_v = (s1.var(ddof=1) + s2.var(ddof=1))/2
denom = np.sqrt(pooled_v) * np.sqrt(2/len(s2))
t = num/denom
print(t)
stats.t.ppf(.975, df=(len(s1)-1))

0.6557142942418951

2.0638985616280205

In [87]:
s1.std()/s2.std()

0.8720077739881615

In [74]:
stats.ttest_ind(s1, s2)

Ttest_indResult(statistic=0.655714294241895, pvalue=0.5151387607057331)

### T-test question 4

Two sets of female rats were given a high- and low-protein diet, respectively, after giving birth.  Their weights were measured after 2 months.

Set 1 (high protein) = 134 146 104 119 124 161 107 83 113 129 97 123

Set 2 (low protein) = 70 118 101 85 107 132 94

Is there a difference in rat weight between high- and low-protein diets after giving birth in this experiment?
(Assume the sample variances are equal)

In [89]:
s1 = '134 146 104 119 124 161 107 83 113 129 97 123'.split(' ')
s1 = np.array(s1, int)
s2 = "70 118 101 85 107 132 94".split(' ')
s2 = np.array(s2, int)

num = s1.mean() - s2.mean()
pooled = ()

#### T-test question 5

Get a wee bit of practice w/ pandas again, eh?

Back to the data about Seattle city service `hourly_rate` compensation

There's a national debate about whether construction workers or HR people account for more "bloat" in the system.  Construciton workers argue that there are a higher percentage of "junior" positions in their departments, while HR people have more "senior" positions.  

Let's test that with the Seattle data.

Create a dataframe of:
- jobs in the `Construction and Inspections` dept
- jobs in the `Human Services Dept` . . . dept
- that don't have `Sr` as the last two letters in their title

Sample 50 junior employees from each department (`random_state=33`)

Use those employees to provide evidence for the question: do junior employees in construction departments have different `hourly_rate` compensation than those in HR departments?

In [100]:
import pandas as pd
df = pd.read_csv('data/data.csv')
df.department.value_counts()

Police Department                 2016
Seattle City Light                1731
Parks & Recreation                1440
Seattle Public Utilities          1409
Fire Department                   1083
Seattle Dept of Transportation    1017
Information Technology             716
Finance & Admin Services           585
Seattle Center                     566
Human Services Department          387
Construction & Inspections         384
Legislative Department             108
Seattle Dept of Human Resource     101
Education & Early Learning          96
Neighborhoods                       61
Arts & Culture                      47
Planning & Comm Development         46
Office of Housing                   44
City Budget Office                  42
Mayor's Office                      37
Office of Economic Development      37
Sustainability & Environment        33
Office for Civil Rights             31
Employees' Retirement System        31
Office of Labor Standards           24
City Auditor                        12
Office of Inspector General          9
Immigrant & Refugee Affairs          9
Civil Service Commissions            9
Intergovernment Relations            8
Ethics & Elections Commission        7
Community Police Commission          5
Office of Employee OMBUD             4
Police Relief & Pension Fund         4
Hearing Examiner                     4
Name: department, dtype: int64

In [117]:
df_construction = df[(df.department == 'Construction & Inspections') & (~df.job_title.str.contains('Sr'))]
s_con = np.random.choice(df_construction.hourly_rate, 33)
df_human = df[(df.department == 'Human Services Department') & (~df.job_title.str.contains('Sr'))]
s_human = np.random.choice(df_human.hourly_rate, 33)
s_human

array([60.337, 33.44 , 36.71 , 36.71 , 51.812, 36.71 , 36.71 , 45.14 ,
       31.56 , 25.22 , 25.22 , 22.53 , 36.71 , 32.75 , 31.56 , 27.12 ,
       24.78 , 33.44 , 31.56 , 31.56 , 28.11 , 28.11 , 33.4  , 36.71 ,
       34.66 , 31.56 , 71.194, 45.14 , 32.75 , 31.56 , 28.11 , 31.56 ,
       26.16 ])

[Welsh's t, ie ttest_ind(equal_var=False), has some proseltyzors](https://onlinelibrary.wiley.com/doi/abs/10.1348/000711004849222)